// CSS RESET
html {
  scroll-behavior: smooth;
}

ol {
  list-style: none;
}

body {
  font-family: droid-sans, sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: $color-white;
  background-color: #000;
  height: 100vh;
  width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
